@model WebApplication1.ViewModels.ArticleViewModel

@{
    ViewBag.Title = Model.article.Title;
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/jQuery/Article/Article.js")
    @Scripts.Render("~/jQuery/Article/ArticleList.js")
    @Scripts.Render("~/jQuery/Message/MessageList.js")
}

<div class="page-header">
    <h1>
        @Html.ActionLink(Model.article.Member.Name+"的部落格","Index","Blog",new { Account =Model.article.Account},null)
    </h1>
    @Html.Hidden("articleNumber",Model.article.A_Id)
</div>

<div id="ArticleBlock">
    <div id="LeftBlock"class="col-md-8 col-lg-8 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @Html.LabelFor(model => model.article.Title) @Model.article.Title
                </h3>
            </div>
            <div class="panel-body">
                @Html.Raw(Model.article.Content.Replace("\r\n","<br/>"))
                <p class="text-right">
                    觀看人數 @Model.article.Watch
                </p>
            </div>
            <div class="panel-footer text-right">
                @Html.LabelFor(model=>model.article.Account) @Model.article.Member.Name
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            if (User.Identity.Name == Model.article.Account)
            {
                if (Model.DataList.Count.Equals(0))
                {
                    @Ajax.ActionLink("修改文章", "EditPage", "Article", new { A_Id = Model.article.A_Id},
                          new AjaxOptions{UpdateTargetId="EditArticleModal", InsertionMode = InsertionMode.Replace},
                          new { @class = "btn btn-primary",@data_toggle = "modal",@data_target = "#EditArticleModal"})
                }
                <div class="modal fade" id="EditArticleModal" tabindex="-1" role ="dialog"
                 aria-labelledby="CreateArticleModalLabel" aria-hidden="true">
                </div>

                @Html.ActionLink("刪除文章", "Delete", "Article", new { A_Id = Model.article.A_Id }, new { @class ="btn btn-danger"})
            }
            else
            {
                <text>非該文章建立者不可進行修改、刪除等動作</text>
            }
        }
        else
        {
            <text>要新增文章請先</text>
            @Html.ActionLink("登入","Login","Members")
        }
        <div id="MessageList">
            @Html.Action("Index", "Message", new { A_Id = Model.article.A_Id})
        </div>
    </div>
    <div id="RightBlock">
        <table>
            <tr>
                <td>
                    <img width="200" src="@Html.Encode(Url.Content("~/Upload/Members/"+Model.article.Member.Image))"/>
                </td>
            </tr>
            <tr>
                <td>
                    <h4>
                        @Html.LabelFor(model=>model.article.Member.Name):@Model.article.Member.Name
                    </h4>
                </td>
            </tr>
        </table>
        <div id="ArticleListBlock">
            @Html.Action("List","Article",new { Account = Model.article.Account})
        </div>
        <hr />
    </div>
</div>
